<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKv8DpdiPeZisN8gg4yghn8wzt8yu4DeI</string>
	<key>GCM_SENDER_ID</key>
	<string>910385601701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.nomnom</string>
	<key>PROJECT_ID</key>
	<string>fooddeli-2ec30</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddeli-2ec30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910385601701:ios:313d323db5901b8e8d414c</string>
	<key>DATABASE_URL</key>
	<string>https://fooddeli-2ec30-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>